

body { 
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
 }

.left-boarder-dark{
  border-left: .5rem solid var(--primary);
  padding-left: 1rem;
}

.splashback{
  background-image: url(./splashback.jpg);
  margin-bottom: 0;
}
main{
  flex-grow: 1;
}
/* todo fix text centering */
#LandMessage{
  height: 10vh;
}
.postion-custom{
position: relative;
top: 5vh;
}


#carousel1{
  background-image: url("./meeple.jpg");
  height: 40vh;
}
#carousel2{
  background-image: url("./mini.jpg");
  height: 40vh;
}
#carousel3{
  background-image: url("./board.jpg");
  height: 40vh;
}

footer{

 }

 /* structure */
 .img-fill{
  background-position: center center;
  background-size: cover;
 }

 .grow{
   flex-grow: 1;
 }
 /* styling */
 .abril{
  font-family: 'Abril Fatface', cursive;
 }
 .oswald{
  font-family: 'Oswald', sans-serif;
 }
 .text-shadow{
  text-shadow: 2px 2px var(--dark);
 }
 .box-shadow{
   box-shadow: .5em .5em;
 }

 .bg-subtle{
   background-color: rgb(226, 207, 193);
 }

@media screen and (max-width: 600px) {
#jumbotext{display: none;
  }
}
