body { 
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
 }
header{

 }

.splashback{
  background-image: url(/splashback.jpg);
  
  margin-bottom: 0;
}
main{
  flex-grow: 1;
}
/* todo fix text centering */
#LandMessage{
  height: 10vh;
}
.postion-custom{
position: relative;
top: 5vh;
}
#landcardcontainer{
  height: 20vh;
}
footer{

 }